#care-tips {
    div {
        h1 {
            font-size: rem-calc(36);
            text-align: center;
            @include md{
                font-size: rem-calc(48);
                padding-bottom: 52px;
            }
        }
    }

    article {
        @include md{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". care-tips .";
        }

        ul {
            display: grid;
            gap: 56px;

            @include md {
                gap: 24px;
                grid-area: care-tips;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                    "r1 r1 r2 r2"
                    "r3 r3 r4 r4";
            }

            @include lg{
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas:
                    "r1 r1 r2 r2 r3 r3"
                    "r4 r4 r5 r5 r6 r6";
            }

            #r1 {
                aside{
                    background-image: url('../img/tips/tip1.jpg');
                    border-radius: 12px;
                }
                @include md {
                    grid-area: r1;
                }
            }

            #r2 {
                aside{
                    background-image: url('../img/tips/tip2.jpg');
                    border-radius: 12px;
                }
                @include md {
                    grid-area: r2;
                }
            }

            #r3 {
                aside{
                    background-image: url('../img/tips/tip3.jpg');
                    border-radius: 12px;
                }
                @include md {
                    grid-area: r3;
                }
            }

            #r4 {
                aside{
                    background-image: url('../img/tips/tip4.jpg');
                    border-radius: 12px;
                }
                @include md {
                    grid-area: r4;
                }
            }

            #r5 {
                aside{
                    background-image: url('../img/tips/tip5.jpg');
                    border-radius: 12px;
                }
                @include md {
                    grid-area: r5;
                }
            }

            #r6 {
                aside{
                    background-image: url('../img/tips/tip6.jpg');
                    border-radius: 12px;
                }
                @include md {
                    grid-area: r6;
                }
            }

            li {
                aside{
                    height: 168px;
                    width: 358px;
                    background-size: cover;
                    background-position: center;
                    margin: 16px;
                    @include md{
                        margin: 0;
                    }
                }
                section{
                   padding: 16px;
                    @include md{
                        padding: 0;
                    }

                   h3{
                       font-size: rem-calc(18);

                       @include md{
                           padding-top: 16px;
                           font-size: rem-calc(20);
                       }
                   }
                   p{
                       margin-bottom: 16px;
                       font-weight: 300;
                       @include md{
                           font-size: rem-calc(18);
                       }
                   }
                   button{
                       border: none;
                       text-decoration: underline;
                       font-size: rem-calc(18);
                       
                   }
                
                }
                
            }
        }

    }
}

#buttons{
    display: grid;
    justify-content: center;
    aside{
        padding-top: 40px;
        button{
            height: 40px;
            width: 40px;
            background-color: var(--laurel);
            border: none;
            border-radius: 8px;
             margin: 6px;
            
            &:hover{
                background-color: var(--cliffside);
            }
        }
        
    }
}