#green-thumb {
    background-color: var(--laurel);

    div {


        #image1 {

            width: 110px;
            margin-bottom: -100px;

        }

        #image2 {
            width: 110px;
            margin-left: 270px;
            margin-bottom: -30px;


        }
    }

    section {
        h1 {
            text-align: center;
            font-size: rem-calc(36);
            // padding-top: 40px;
            padding-bottom: 24px;

        }

        p {
            text-align: center;
            font-weight: 300;
        }
    }

}