#plant-types{
    display: grid;
    justify-content: center;
    div{
        ul{
            display: grid;
            gap: 16px;
            li{
                h2{
                    text-align: center;
                    font-family: 'Italiana', serif;
                    font-size: rem-calc(30);
                }
                img{
                    border-radius: 12px;
                }
            }
        }
    }
}