/* =============
    Base
============= */
ul{
    padding: 0px;
    margin: 0px;
    li{
        list-style: none;
    }
}

.css-grid-global{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". grid .";
}