#hero{
    div{
       
            background-image: url("../img/hero/heroimg.jpeg");
            height: 60vw;
            width: 358px;
            background-size: cover;
            background-position: center;
            border-radius: 12px;

            @include md{
              height: 65vw;
              width: 68vh ;
            }

            @include lg{
                height: 62vw;
                width: 88vh ;
            }

            @include xl{
                height: 60vw;
                width: 101vh ;
            }

            @include xxl{
                height: 60vw;
                width: 122vh ;
            }

    }
   
}