#info{
    background-color: var(--laurel);
    padding: 16px;
    padding-top: 56px;
    padding-bottom: 56px;
  
    
    article{
        h3{
            text-align: center;
            font-size: rem-calc(30);
        }
    }
    div{
        padding-top: 36px;

        @include md{
            padding: 56px 118px;
        }
        ul{
            padding-left: 24px;
            padding-bottom: 56px;
            li{
                
                list-style-type: circle;
                p{
                    padding-bottom: 4px;
                }
            }
        }
        p{
            padding-bottom: 36px;
        }
    }
}