#joinourteam{
    padding-left: 118px;

    #image1{
        transform: rotate(-47deg);
        margin-bottom: -266px;
        margin-left: -87px;

    }

    #image2{
        transform: rotate(-30deg);
        margin-top: -256px;
       padding-left: 529px;
       margin-bottom: -88px;
        
    }

    div{
        background-color: var(--beige);
        border-radius: 16px;
        height: 181px;
        width: 596px;
        
       text-align: center;
       h1{
        font-size: rem-calc(48);
        padding-top: 24px;
       }
       p{
        padding-top: 16px;

       }
    }
    
}