#question {
    display: grid;
    justify-content: center;
    

    .rectangle {
        width: 347px;
        height: 300px;
        border: 5.5px solid;
        border-color: var(--cliffside);
        // margin-left: 16px;

        @include md {
            width: 756px;
            height: 290px;
            // margin-left: 28px;
        }
    }

    div {
        background-color: var(--white);
        width: 272px;
        height: 328px;
        margin-left: 40px;
        margin-top: -328px;

        @include md {
            width: 530px;
            margin-left: 135px;
        }

        h1 {
            text-align: center;
            padding-bottom: 48px;

            @include md {
                font-size: rem-calc(48);
            }

            .hide-br {
                @include sm {
                    display: show;

                    @include md {
                        display: none;
                    }
                }
            }
        }

        ul {
            li {
                aside {
                    display: flex;

                    p {
                        padding-left: 50px;
                        padding-bottom: 24px;

                        @include md {
                            font-size: rem-calc(18);
                            align-content: center;
                        }
                    }

                }
            }
        }

        form {
            padding-left: 20px;
            padding-top: 24px;

            @include md {
                padding-left: 140px;
                font-size: rem-calc(18);
            }
        }
    }
}

#plantimg {
   display: grid;
   justify-content: center;
    div {
        img {
            height: 185px;
            width: 291px;
        }
    }

}