#services {
    padding-bottom: 56px;

    h1 {
        padding-bottom: 16px;
        text-align: center;
    }

    article {

        ul {
            display: grid;
            gap: 16px;


            li {
                text-align: center;

                h2 {
                    padding: 24px 0 56px;
                }

            }
        }

    }

}