/* =============
    Header
============= */
header{
        
        div{
           
            text-align: center;
            aside{
                display: flex;

                #r1{
                    @include lg{
                        display: none;
                    }
                }
                #r2{
                    
                }
                #r3{

                }
                #r4{

                }

            }
         }
    }
    
    #fullheader{
        div{
            ul{
                
                li{
                    display: inline-block; 


                }
            }
            
            
        }
    
    }